In [1]:
### Importing Libraries

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [2]:
### Reading Dataset

df = pd.read_csv("Movie_regression.csv", header = 0)

In [3]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [4]:
df.shape

(506, 18)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           494 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### Missing Value Imputation

- variable = Time_taken

In [6]:
df['Time_taken'].fillna(value =  df['Time_taken'].mean(), inplace = True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    float64
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    float64
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
dtypes: float64(12), int64(4), object(2)
memory usage: 71.3+ KB

### Dummy Variable Creation

- variable = 3D_available, Genre

In [8]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,3D_available,Time_taken,Twitter_hastags,Genre,Avg_age_actors,Num_multiplex,Collection
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,YES,109.60,223.840,Thriller,23,494,48000
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,NO,146.64,243.456,Drama,42,462,43200
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,NO,147.88,2022.400,Comedy,38,458,69400
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,YES,185.36,225.344,Drama,45,472,66800
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,NO,176.48,225.792,Drama,55,395,72400

In [9]:
df = pd.get_dummies(df, columns = ['3D_available', 'Genre'], drop_first=True)

In [10]:
df.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,Collection,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,48000,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,43200,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,69400,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,66800,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,72400,0,0,1,0

In [11]:
df.shape

(506, 20)

### Splitting the Data

In [12]:
X = df.loc[:, df.columns!="Collection"]
type(X)

pandas.core.frame.DataFrame

In [13]:
X.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
0,20.1264,59.62,0.462,36524.125,138.7,7.825,8.095,7.910,7.995,7.94,527367,109.60,223.840,23,494,1,0,0,1
1,20.5462,69.14,0.531,35668.655,152.4,7.505,7.650,7.440,7.470,7.44,494055,146.64,243.456,42,462,0,0,1,0
2,20.5458,69.14,0.531,39912.675,134.6,7.485,7.570,7.495,7.515,7.44,547051,147.88,2022.400,38,458,0,1,0,0
3,20.6474,59.36,0.542,38873.890,119.3,6.895,7.035,6.920,7.020,8.26,516279,185.36,225.344,45,472,1,0,1,0
4,21.3810,59.36,0.542,39701.585,127.7,6.920,7.070,6.815,7.070,8.26,531448,176.48,225.792,55,395,0,0,1,0

In [14]:
X.shape

(506, 19)

In [15]:
y = df['Collection']
y.head()

0    48000
1    43200
2    69400
3    66800
4    72400
Name: Collection, dtype: int64

In [16]:
type(y)

pandas.core.series.Series

In [17]:
y.shape

(506,)

### Train Test Split

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [23]:
print("Shape of X_train", X_train.shape)
print("Shape of X_test", X_test.shape)
print("Shape of y_train", y_train.shape)
print("Shape of y_train", y_train.shape)

Shape of X_train (404, 19)
Shape of X_test (102, 19)
Shape of y_train (404,)
Shape of y_train (404,)

### Standardizing the Data

In [25]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc = StandardScaler().fit(X_train)

In [28]:
X_train_STD = sc.transform(X_train)

In [29]:
X_test_STD = sc.transform(X_test)

In [30]:
X_train.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
220,27.1618,67.40,0.493,38612.805,162.0,8.485,8.640,8.485,8.670,8.52,480270,174.68,224.272,23,536,0,0,0,1
71,23.1752,76.62,0.587,33113.355,91.0,7.280,7.400,7.290,7.455,8.16,491978,200.68,263.472,46,400,0,0,0,0
240,22.2658,64.86,0.572,38312.835,127.8,6.755,6.935,6.800,6.840,8.68,470107,204.80,224.320,24,387,1,1,0,0
6,21.7658,70.74,0.476,33396.660,140.1,7.065,7.265,7.150,7.400,8.96,459241,139.16,243.664,41,522,1,0,0,1
417,538.8120,91.20,0.321,29463.720,162.6,9.135,9.305,9.095,9.165,6.96,302776,172.16,301.664,60,589,1,0,0,0

In [33]:
X_train_STD[:1]

array([[-0.37257438, -0.70492455,  0.42487874,  0.93567804,  0.69366877,
         0.44260898,  0.4259219 ,  0.43335791,  0.44757662,  1.07963602,
         0.44638354,  0.56941731, -0.33434417, -1.31368908, -0.0867923 ,
        -1.10997486, -0.66547513, -0.48525664,  1.3293319 ]])

In [34]:
X_test.head()

,Marketing expense,Production expense,Multiplex coverage,Budget,Movie_length,Lead_ Actor_Rating,Lead_Actress_rating,Director_rating,Producer_rating,Critic_rating,Trailer_views,Time_taken,Twitter_hastags,Avg_age_actors,Num_multiplex,3D_available_YES,Genre_Comedy,Genre_Drama,Genre_Thriller
329,21.3448,61.48,0.540,35179.815,90.7,7.320,7.460,7.275,7.515,8.62,483051,111.040000,283.616,53,452,0,1,0,0
371,204.6460,91.20,0.369,34529.880,173.5,9.310,9.525,9.320,9.505,7.96,454281,196.000000,268.000,25,609,1,1,0,0
219,22.2850,82.78,0.450,35402.015,165.9,8.175,8.375,8.315,8.405,8.72,451935,123.200000,263.680,21,561,1,1,0,0
403,516.0340,91.20,0.307,29713.695,169.5,9.125,9.310,9.060,9.100,6.96,384237,157.391498,301.328,40,677,1,0,0,1
78,21.1292,80.66,0.563,34618.760,127.2,7.330,7.500,7.450,7.690,8.26,447528,176.480000,303.392,53,377,1,0,1,0

In [35]:
X_test_STD[:,1]

array([-1.12872913,  0.9988844 ,  0.39610829,  0.9988844 ,  0.24434044,
       -0.42716074,  0.9988844 , -0.84953355, -0.17516883, -0.36702631,
        0.9988844 ,  0.9988844 ,  0.9988844 ,  0.9988844 ,  1.21078669,
       -1.27190636,  0.9988844 , -1.37499396, -1.01275558, -0.73928709,
       -0.53597543,  1.21078669, -0.36702631, -0.67485734, -0.60326872,
        0.9988844 , -0.42716074,  1.21078669, -1.17884116, -0.15941933,
        0.9988844 ,  0.9988844 , -0.75360481, -0.88675963, -1.01275558,
        0.9988844 ,  0.9988844 ,  0.9988844 ,  0.9988844 ,  0.9988844 ,
        0.40040361, -0.60326872, -1.12872913,  0.9988844 , -1.32201838,
       -0.58036037,  0.40040361,  1.21078669,  1.21078669, -0.36702631,
        1.21078669, -0.20523604, -0.70492455, -0.75360481,  1.54152608,
       -0.46581859, -0.72496936, -0.96407533,  0.9988844 , -0.07637654,
       -1.35065383, -0.17516883, -0.72067405, -0.70492455,  0.9988844 ,
       -1.10009369,  0.9988844 , -0.46581859,  0.9988844 , -0.07637654,
        0.24434044,  0.24434044, -1.11011609, -1.05141343,  0.9988844 ,
        0.9988844 , -0.70492455, -0.07637654, -1.10438901, -0.20523604,
       -0.88675963,  1.54152608,  0.9988844 , -0.70492455, -0.70492455,
       -0.53597543, -1.17884116,  0.9988844 ,  1.21078669,  0.9988844 ,
       -1.01991444,  0.9988844 , -1.07145824, -1.27190636,  0.11548094,
       -0.75360481,  0.9988844 , -1.48667219,  0.9988844 , -0.85812418,
       -0.07637654, -0.36702631])

## Training Regression Support Vector Machine

In [36]:
from sklearn.svm import SVR

In [38]:
svr = SVR(kernel='linear', C = 3000)

In [39]:
svr.fit(X_train_STD, y_train)

SVR(C=3000, kernel='linear')

### Predicting values using trained model

In [42]:
y_test_pred = svr.predict(X_test_STD)
y_test_pred

array([54149.04985486, 42108.34471214, 47533.48916051, 17335.56708281,
       48583.82292107, 39306.44775797, 33505.9535726 , 43171.76493611,
       29476.26499757, 46980.75731107, 12645.08472006, 38648.42247605,
       38048.23936642,  8415.03656142, 67457.69091145, 62224.20392732,
       38975.54675176, 65880.00221637, 56742.36900527, 42713.82149416,
       53525.49453611, 39264.6242224 , 41193.07225572, 58209.33323513,
       42495.88201229, 12132.62441561, 40418.388771  , 29850.91523034,
       75048.6007429 , 43839.06117389, 36786.86517154, 37330.36790834,
       37565.19845685, 40538.47149966, 51853.9891749 , 35081.953653  ,
       25483.31757363, 36025.27585637, 36413.96001026, 36164.40005112,
       47058.89224017, 45705.55298319, 44210.84051282, 27455.32262481,
       50732.91083479, 46541.4643388 , 32853.69351744, 40270.99818314,
       15510.53146758, 52029.40170025, 41465.42768853, 38769.99820302,
       47214.74691352, 68388.92527648, 25170.79907635, 41175.69832861,
       40899.41103489, 34095.61876232, 20977.9636645 , 38804.33453059,
       41129.5063814 , 41083.49505688, 65425.92618456, 64734.65527104,
       28281.73281763, 63138.57252568, 37568.72857469, 40005.32896684,
       42164.20110828, 46623.41251417, 46160.02195304, 49356.9966042 ,
       56247.16388058, 60030.58078437, 49366.96696328, 10862.91367165,
       74305.04922386, 44623.1870363 , 59050.95988709, 37530.90896347,
       50647.30689612, 43058.5467422 , 31784.52915153, 81982.17233807,
       79971.19671076, 47402.01934049, 50372.39131487, 29749.23771566,
       50294.74817081, 37816.36662392, 33719.52821022, 34498.87865074,
       42984.72407916, 59337.27083148, 43237.0100136 , 42010.15292021,
       -5090.77801027, 52414.30389763, 37462.28212695, 32115.02376172,
       49809.79502581, 48308.98132474])

In [43]:
y_train_pred = svr.predict(X_train_STD)
y_train_pred

array([58878.11306215, 46355.91566302, 56818.87566982, 45800.10218153,
       11984.72611331, 25659.16176502, 45183.6080545 , 56905.3883851 ,
       59740.05421596, 21264.66668753, 36409.75240493, 39535.05622863,
       22696.23370025, 38729.77491254, 20088.71899575, 38254.55607219,
       11671.37591553, 83279.92903305, 55227.39521863, 25194.62646389,
       29375.36178568, 42399.90256858, 47702.64943547, 33634.0997657 ,
       65285.53724074, 31773.8623794 , 36756.61306504, 60249.90039688,
       38727.88676716, 39695.62539614, 28136.0160463 , 41617.5744838 ,
       40914.94472847, 62259.47979006, 50434.22942896, 26720.50786202,
       56043.65383529, 25889.57921884, 31416.11696495, 43862.3546435 ,
       65697.85350402, 55730.8603473 , 48319.42816749, 33200.09160621,
       60152.82262123, 63333.22514056, 36610.9346237 ,  9949.16670882,
       51678.88425947, 48060.55318891, 14748.99872995, 52439.11269918,
       36113.98944882, 55990.45525482, 35540.26302487, 35130.65633238,
       38244.38332679, 29935.2129662 , 24035.63772517, 42073.97264115,
       67932.39297158, 63399.90540183, 48594.6425986 , 43201.26431767,
       45776.27904121, 51493.15822792, 38807.40634502, 31677.9873074 ,
       61232.87491647, 17578.81042843, 40250.17710832, 54256.03088775,
       39723.63944789, 29942.93066379, 34676.25986933, 27760.22209142,
       48975.4969845 , 48423.57260722, 37535.97972115, 31788.29306926,
       40007.17367266, 45400.09454605, 37258.76690229, 54208.45497953,
       48229.83295233, 54409.42413399, 77352.89152951, 38446.70729667,
       30197.71259019, 62785.80986506, 66130.15033183, 36564.23703112,
       77734.94138522, 51635.67672948, 55111.27932325, 31400.6540234 ,
       48578.33630609, 70253.61091995, 53554.10059371, 32775.83414485,
       72109.30510704, 65245.90227982, 31285.98560211, 42840.64474883,
       36199.21809104, 50182.6661318 , 42399.90420618, 41537.66823363,
       56468.29114391, 51752.94485139, 34249.48403206, 43331.42412841,
       41663.99653586, 36073.17519895, 30961.04766977, 57458.43967101,
       39443.44067646, 69399.88050914, 17546.49676283, 43400.09470759,
       35105.14078704, 30119.70077615, 36470.81511907, 43301.62938136,
       26580.62913057, 46697.70088737, 57262.46886522, 44389.78153937,
       27022.87947133, 48703.80805349, 50761.64438532, 52474.09341744,
       45785.86371815, 42996.77490314, 32623.67073805, 35773.55886289,
       65808.72058679, 36063.3685964 , 70128.02722535, 51708.57820581,
       40400.09166406, 30079.01596881, 61855.34625794, 45171.58209765,
       49504.5008598 , 25649.11971069, 57516.21995026, 33633.69701286,
        5683.19301191, 40613.96328093, 26745.20405586, 75999.56116599,
       34277.52678085, 33457.72477874, 50544.79784618, 46716.44272925,
       31763.63945412, 63230.87934502, 50414.19942462, 51601.0531505 ,
       38391.91228686, 53137.91609354, 44059.00131018, 24579.28155553,
       44738.63351957, 11427.59001945, 40160.69073352, 31328.37656879,
       46993.8641713 , 34970.00520585, 30591.32281654, 58110.05068901,
       26637.40855013, 39556.73077683, 27829.34013743, 28093.72549922,
       41073.44114578, 40312.4745506 , 32232.6645275 , 50178.10146339,
       34279.53021423, 45650.87075469, 21996.4405249 , 68568.34047483,
       31403.27674818, 76833.53604499, 60295.60331886, 58675.04256496,
       46260.42041735, 37577.46337203, 42443.34168891, 53736.93412651,
       28600.10913316, 57489.09425558, 72570.85998011, 32944.80267324,
       21296.04431608, 68329.39524783, 61608.93937663, 37679.17215758,
       42025.3592348 , 32710.38897659, 49086.47048841, 37647.69332221,
       49764.44047947, -5696.99357503, 41099.81261162, 79640.52165682,
       64931.31884263, 46210.8508774 , 57133.13304955, 34657.34757326,
       46352.58302067, 25900.31561356, 30600.13341145, 45892.52172039,
       51227.3936382 , 41819.62211314,  4309.25107445, 39618.40066669,
       63324.78787923, 68294.1012868 , 25814.90279244, 37903.69743298,
       47360.1223547 ,  6280.99496662, 45513.33511723, 47955.22108482,
       28457.45133773, 37455.23352853, 51051.43972219, 46313.92863318,
       42701.45367882, 72337.77807592, 33971.14051115, 62449.11085628,
       48720.64242595, 36747.91012783, 75188.7372283 , 44238.26797622,
       46246.58260806, 43595.73176279, 20800.1257194 , 38850.61608798,
       63695.21987911, 42456.39468515, 35710.23399413, 65848.33768304,
       46342.66009319, 59586.35094998, 60789.73945315, 65607.49162592,
       39474.11730384, 50612.55979493, 42595.66302626, 60806.53477885,
       45035.59096658, 34328.38640872, 39115.96204576, 54509.14513814,
       40172.32139382, 37101.28241478, 24268.84973782, 34810.746182  ,
       35330.52877383, 34177.85573597, 32818.45576377, 54653.43598388,
       45317.06440949, 32693.54895227, 40531.51789241, 59522.0901138 ,
       33430.36438562, 52641.64946001, 36014.42867326, 55732.379063  ,
       49883.52481464, 33063.71037201, 45797.086192  , 73596.92184177,
       53199.8858813 , 63365.13527261, 42977.75400537, 57153.47548003,
       53343.82615024, 68480.62622466, 45080.36977979, 37390.12520136,
       54669.01635543, 26136.21485259, 41420.86588643, 41800.10514939,
       51191.37451101, 20526.41106692, 64820.36844285, 12367.97509541,
       25534.64014736, 36178.46162702, 65213.41889947, 58416.38520361,
       19427.75337232, 25789.46177855, 44354.1004606 , 70339.45786948,
       28953.3818925 , 36448.52798821, 35929.26793696, 51034.57702708,
       79874.36751916, 50528.37465908, 77845.32220083, 47222.12467082,
       39688.85204056, 27283.24787791, 23689.71008662, 33261.51971165,
       43555.13377029,  2856.38825092, 50916.63627333, 50056.63507182,
       82954.02571544, 44630.39529851, 33028.95945753, 66183.77433436,
       60307.94216293, 29340.50888977, 52688.61331772, 89865.22558642,
       39574.75936481, 36971.94733383, 49655.65253198, 37344.48487548,
        6452.29356764, 36048.65430759, 70400.10073304, 45232.30213143,
       46431.06472336, 22999.90632473, 47301.37676845, 35105.37040903,
       32750.97572367, 42257.66382002, 60817.84621371, 46073.28661991,
       58954.16643148, 53019.61660401, 80368.91346527, 30344.5067786 ,
       31233.70539994, 74309.48264394, 35561.83116886, 30300.55831901,
       27677.529586  , 48608.67237796, 40584.56901504, 34584.91877487,
       44599.9021618 , 41286.13039709,  8590.29155154, 39341.52589191,
       17166.90744854, 53165.71725517, 16222.00078248, 55815.86754849,
       66896.70149956, 46609.25181758, 33088.61658295, 45190.10698341,
       41733.85965026, 60600.08756555, 53031.88254993, 39455.58547215,
       36849.1615892 , 14310.44048377, 43260.28783415, 43801.98198453,
       49198.827734  , 34612.72890347, 43203.77056883, 40780.46378014,
       19859.85899627, 47655.45691323, 33989.32911473, 62462.6452211 ,
       57705.41724065, 50006.67720914, 35378.1704042 , 60305.16361058,
       42596.33290359, 51732.25663074, 51910.43458194, 59256.6307128 ,
       49342.81083976, 56542.24584831, 24451.75156844, 36276.90405879,
       34012.03168281, 80039.62358151, 50996.53622176, 38476.24474506,
       64177.07034444, 39580.46155369, 33586.97917696, 36832.70280085])

### Model Performance

In [46]:
from sklearn.metrics import mean_squared_error, r2_score

In [47]:
mean_squared_error(y_test, y_test_pred)

161383675.95784867

In [48]:
r2_score(y_train, y_train_pred)

0.7110100333340962

In [49]:
r2_score(y_test, y_test_pred)

0.49869112364165125